node_modules/
dist/
*.log
.DS_Store
*.z[1-8]
test-output/
**~

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.pytest_cache/
.coverage
.mypy_cache/
.dmypy.json
dmypy.json
zmachine-crash-*.json
temp-*/
